# Ignore output files
*.class
*.jar

# ZIP files
*.zip

# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

# Ignore IntellIJ stuff
.idea/

# Ignore all private keys
server_private_key_*.pem
